.buttonDiv {
    display: flex;
    color: white;
    font-size: 22px;
    width: 65%;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
}

.backDiv {
    cursor: pointer;
}

.nextDiv {
    cursor: pointer;
}

.deleteDiv {
    background-color: #6cbbea;
    font-size: 20px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}